<div class="container">
    <h1>agregar empleado:</h1>
    <div class="row">
        <div class="col-8">
        <form method="POST" action="/admin/trabajadores/create">
        <div class="form-group">
            <label for="nombre">nombre:</label>
            <input type="text" class="form-control" name="nombre" placeholder="nombre" >
            <label for="nombre">apellido:</label>
            <input type="text" class="form-control" name="apellido" placeholder="apellido">
            <label for="id_sucursal">id_sucursal:</label>
            <input type="number" class="form-control" name="id_sucursal" placeholder="sucursal">
            <label for="sueldo">sueldo:</label>
            <input type="number" class="form-control" name="sueldo" placeholder="sueldo">
            <button type="submit" class="btn btn-primary">enviar</button>
        </div>
        </form>
        </div>
    </div>
</div>