*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
.contenedor{
    width: 90%;
    overflow: hidden;
    margin: 0 auto;
    padding-top: 80px;

}
.nav{
    display:flex;
    height: 70px;
    align-items: center;
    justify-content: flex-end;
}
.nav__items{
    margin-right: 20px;
    text-decoration: none;
    color: #7D3C98 ;
    font-weight: 700;
}
.nav__items:hover{
    text-decoration: underline;
}
.nav .nav__items--cta{
    border: 2px #f2f2f2 solid;
    display: inline-block;
    padding: 5px 20px;
    transition: all 0.5s ease;
   
}
.nav .nav__items--cta:hover{
    text-decoration: none;
    background-color: violet;
    color: #fff;
   
}


.header{

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../css/mujer.jpg);
    width: 100%;
    height: calc(100vh - 70px);
}
.presentation__nombre{
    display: flex;
    align-items: center;
    justify-content: center;

}
.presentation__parrafo{
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    width: 50%;
    margin: 0 auto;
    margin-top:20px ;
}
.presentation__img{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.img{
    width:250px;
    height:250px;
    border-radius: 50%;
    margin-bottom: 10px;

}

/*proyectos*/

.projects{
    background-color: #f2f2f2;
    padding-top: 80px;
    height: 600px;
    overflow: hidden;
}
.gallery__container{
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows:200px;
    gap: 10px;
   
}
/*very important part*/
.gallery__item{
    position: relative;
   overflow: hidden;
   cursor:pointer;
}
.gallery__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
 
 
}
.gallery__hover{
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    background-color: #d6012f8c;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(100%);
    transition: all 0.5s ease;
    
}
.gallery__item:hover .gallery__hover{
    transform: translate(0%);
}
/*proyectos*/
/*
foooter*/
.footer{
    height: 300px;
}
.footer__contacto{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer__redes{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
   
}
.icons{
    text-decoration: none;

}
@media screen and (max-width:376px){
    .nav{
        display:flex;
        height: 70px;
        align-items: center;
        justify-content: center;
    }
    .presentation__nombre{
       font-size: 11px;
    
    }
    .gallery__container{
        width: 90%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows:120px;
        gap: 10px;
    }
    .projects{
        background-color: #f2f2f2;
        padding-top: 80px;
        height: 880px;
        overflow: hidden;
    }
    .footer{
        height: 600px;
        padding-top: 90px;
    }
}
@media screen and (max-width:365px){
    .footer{
        height: 400px;
        padding-top: 50px;
    }
}