<head>
    <style>
        body{background-color:  #fff;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;}
    </style>
</head>
<div class="container-fluid">
    <h1 class="r">Reclutamiento</h1>
    <h2 class="A">Agencia</h2>
    <p>Agencia de contratación que se esfuerza por ayudar a las empresas a formar un equipo de profesionales altamente eficientes y capacitados, y también sirve a los empleados al abrirles nuevas perspectivas de oportunidades laborales. Nos enorgullece prestar nuestra mano para crear el tipo de entorno profesional que cumpliría la misión y la visión sobre las que se basan las empresas.</p>
</div>

<div class="container-fluid">

<div class="img">
<img src="/images/Designer _Flatline.svg"  class="imagen" alt="diseñador web">

<p class="e"><strong>diseñador web</strong> Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid aliquam culpa cupiditate!</p>
<img src="/images/Engenerier Data.svg"  class="imagen i" alt="ingeniero en datos">
<p class="e"><b>ingenieria en datos</b> Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid aliquam culpa cupiditate!</p>
</div>


<div class="img">
    <img src="/images/Product Manager.svg" class="imagen" alt="product manager">
    <p class="e"><strong>product manager</strong> Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid aliquam culpa cupiditate!</p>

    <img src="/images/Startup_Flatline.svg" class="imagen i" alt="start up">
    <p class="e"><b>start up</b> Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid aliquam culpa cupiditate!</p>
</div>


<div class="cotainer-fluid">
<h2 class="contacto">Ubicación</h2>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d26568.57642537373!2d-61.47202475439038!3d-33.65529486578617!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95c804e6c337e947%3A0xb2a288519cbe163c!2sMelincue%2C%20Santa%20Fe!5e0!3m2!1ses!2sar!4v1618760493156!5m2!1ses!2sar" width="100%" height="450px" style="border:0;" allowfullscreen="" loading="lazy"></iframe></div>

<div class="footer">
<h3 class="center">Recuerda comunicarte con nosotros si tienes interés por algún área de trabajo</h3>
<div class="espacio">
<a href="mailto:six_cabrera@outlook.com" class='bx bx-mail-send'>-escribeme por aquí<i><a>
<div class="line"></div>
</div>
</div>


