<div class="container">
    <h1>registro:</h1>
    <div class="row">
        <div class="col-8">
        <form method="POST" action="/registro/create">
        <div class="form-group">
            <label for="nombre">nombre:</label>
            <input type="text" class="form-control" name="nombre" placeholder="nombre" required= "true">
            <label for="apellido">apellido:</label>
            <input type="text" class="form-control" name="apellido" placeholder="apellido" required= "true">
            <label for="mail">mail:</label>
            <input type="text" class="form-control" name="mail" placeholder="mail" required= "true">
            <button type="submit" class="btn btn-primary">enviar</button>
        </div>
        </form>
       </div>
    </div>
</div>